table {
  width: 100%;
  text-align: center;
  background-color: #f26767 !important;
}

th {
  text-align: center !important;
  background-color: #c33838 !important;
  color: aliceblue;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #ff0000;
}

tr.element-row:not(.expanded-row):active {
  background: #ff0000;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.element-image {
  height: 100px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  background-color: rgb(109 109 109);
  padding: 10px;
  color: aliceblue;
}